/* CSS files add styling rules to your content */
* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  height: 360px;
}

.header-wrapper
{
  margin-top: 0px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header
{
  font-size: 82px;
  font-family: 'Major Mono Display', monospace;
}

.portals {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.portal
{
  width: 200px;
  height: 320px;
  border: 4px solid black;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.portal:hover .portal-door-left
{
  left: -40%; 
  border: none;
}
.portal:hover .portal-door-right
{
  right: -40%; 
  border: none;
}
.portal-header
{
  padding-left: 6px;
  padding-right: 6px;
  margin: auto;
  height: 80px;
  width: 180px;
  text-align: center;
}
.portal-header p
{
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
.portal-door
{
  width: 150px;
  height: 195px;
  margin: auto;
  display: flex;
  overflow: hidden;
}
.portal-door-left
{
  position: relative;
  left: 0%; 
  top: 0; 
  bottom: 0; 
  background-color: black;
  width: 50%;
  height: 100%;
  border-right: 1px solid grey;
  transition: 1s ease-in-out; 
}
.portal-door-right
{
  position: relative;
  right: 0%; 
  top: 0; 
  bottom: 0; 
  background-color: black;
  width: 50%;
  height: 100%;
  border-left: 1px solid grey;
  transition:1s ease-in-out; 
}
.left-knob
{
  position: relative;
  top: 120px;
  left: 50px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50px;
}
.right-knob
{
  position: relative;
  top: 120px;
  left: 9px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50px;
}
/* ===================== */
.curtain-left
{
  position: absolute;
  top: 0; 
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: black;
  z-index: 10;
  transition: 1s ease-in-out;
}
.curtain-right
{
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background-color: black;
  z-index: 10;
  transition: 1s ease-in-out;
}
.curtain-left-closed
{
  position: absolute;
  top: 0; 
  left: 0%;
  width: 50%;
  height: 100%;
  background-color: black;
  z-index: 10;
  transition: 1s ease-in-out;
}
.curtain-right-closed
{
  position: absolute;
  top: 0;
  right: 0%;
  width: 50%;
  height: 100%;
  background-color: black;
  z-index: 10;
  transition: 1s ease-in-out;
}
/* ===================== */
.hidden
{
  display: none;
}
.visible
{
  display: flex;
}
.notes
{
  display: flex;
  justify-content: center;
}
.title
{
  font-size: 42px;
  font-family: 'Roboto', sans-serif;
  height:80px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 12px;
  padding-left: 18px;
  padding-right: 18px;
  
}
.notes-left
{
  width: 70px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 84px;
}
.notes-right
{
  width: 70px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 84px;
}
i {
  cursor: pointer;
}
.notes-wrapper
{
  margin-top: 10px;
  width: 700px;
  height: 500px;
  flex-direction: column;
  border: 5px solid black;
}
.note-pad
{
  width: 700px;
  padding: 18px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
.note-pad h1
{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
.note-pad p
{
  margin-top: 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.exit
{
  margin-top: 30px;
  font-size: 22px;
  font-family: 'Major Mono Display', monospace;
}
.exit:hover
{
  cursor: pointer;
}

/* ===================== */
.container{
  position: absolute;
  bottom: -10px;
	width: 100%;
	height: 170px;
  
  min-width: 1200px;
	max-width: 1200px;
	max-height: 200px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
  z-index: -10;
}
.subtitle
{
  position: relative;
  text-align: center;
  top: 50%;
  font-family: 'Major Mono Display', monospace;
  font-size: 22px;
}
.row{
	display: flex;
	justify-content: center;
	align-items: center;
}

.rain{
  z-index: -10;
	position: relative;
	width: 50%;
	height: 100%;
  margin-left: 25%;
}

.rain:nth-of-type(1){
	--duration: 2.7s;
	--delay: 1s;
	transform: translate(10%, 10%) scale(0.9);
}

.rain:nth-of-type(2){
	--duration: 2.1s;
	--delay: 1.2s;
	transform: translate(-20%, 40%) scale(1.3);
}

.rain:nth-of-type(3){
	--duration: 2.3s;
	--delay: 2s;
	transform: translate(0%, 50%) scale(1.1);
}

.rain:nth-of-type(4){
	--duration: 2s;
	--delay: 4s;
	transform: translate(0%, -10%) scale(1.2);
}

.rain:nth-of-type(5){
	--duration: 2.5s;
	--delay: 0s;
	transform: translate(10%, 0%) scale(0.9);
}

.rain:nth-of-type(6){
	--duration: 2s;
	--delay: 2.7s;
	transform: translate(-20%, 0%) scale(1);
}

.rain:nth-of-type(7){
	--duration: 1.8s;
	--delay: 1.3s;
	transform: translate(20%, -40%) scale(1.2);
}

.rain:nth-of-type(8){
	--duration: 2.2s;
	--delay: 0s;
	transform: translate(20%, 0%) scale(1);
}

.rain:nth-of-type(9){
	--duration: 2s;
	--delay: 0.5s;
	transform: translate(0%, -10%) scale(1.3);
}

.drop{
  z-index: -10;
	background-color: black;
	width: 3px;
	height: 100px;
	position: absolute;
	top: calc(50% - 100px); 
	left: calc(50% - 1.5px);
	animation-name: fall;
	animation-duration: var(--duration);
	animation-delay: var(--delay);
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-fill-mode: backwards;
}

@keyframes fall{
	0%{
		transform: translateY(-120vh);
	}
	45%{
		transform: translateY(0%);
		opacity: 1;
	}
	46%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

.waves > div{
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-radius: 50%;
	border: solid black 3px;
	animation-name: spread;
	animation-duration: var(--duration);
	animation-delay: var(--delay);
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
}

.waves > div:nth-child(2){
	animation-delay: calc(var(--delay) + 0.3s);
	animation-timing-function: linear;
}

@keyframes spread{
	0%{
		transform: scale(0);
		opacity: 1;
	}
	40%{
		transform: scale(0);
		opacity: 1;
	}

	100%{
		transform: scale(1);
		opacity: 0;
	}
}


.splash{
	position: absolute;
	top: 10%;
	bottom: 50%;
	left: 35%;
	right: 35%;
	border-radius: 8px;
	clip-path: polygon(7% 100%, 5% 95%, 3% 80%, 11% 50%, 17% 38%, 23% 44%, 30% 53%, 37% 28%, 40% 29%, 45% 43%, 51% 53%, 59% 36%, 64% 22%, 67% 23%, 70% 34%, 72% 46%, 79% 37%, 83% 37%, 93% 61%, 96% 76%, 96% 94%, 94% 100%);
	background-color: black;
	transform-origin: bottom;
	animation-name: splash;
	animation-duration: var(--duration);
	animation-delay: var(--delay);
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
}

@keyframes splash{
	0%{
		transform: scale(0.3, 0);
	}

	49%{
		transform: scale(0.3, 0);
	}

	50%{
		transform: scale(0.3, 0.3);
	}

	60%{
		transform: scale(0.7, 1);
	}

	90%{
		transform: scale(1, 0);
	}

	100%{
		transform: scale(1, 0);
	}
}

.particles > div{
	position: absolute;	
	border-radius: 100%;
	background-color: black;
	animation-duration: var(--duration);
	animation-delay: var(--delay);
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-fill-mode: backwards;
  z-index: -10;
}

.particles > div:nth-child(1){
	width: 7px;
	height: 7px;
	top: 50%;
	left: 50%;
	animation-name: jumpLeft;
}

.particles > div:nth-child(2){
	width: 5px;
	height: 5px;
	top: 30%;
	left: 50%;
	animation-name: jumpLeft;
	animation-delay: calc(var(--delay) + 0.1s);
}

.particles > div:nth-child(3){
	width: 3px;
	height: 3px;
	top: 20%;
	left: 70%;
	animation-name: jumpRight;
	animation-delay: calc(var(--delay) + 0.15s);
}

.particles > div:nth-child(4){
	width: 5px;
	height: 5px;
	top: 30%;
	left: 50%;
	animation-name: jumpRight;
	animation-delay: calc(var(--delay) + 0.3s);
}

@keyframes jumpLeft{
	0%{
		transform: translate(0,0) scale(0);
	}

	45%{
		transform: translate(0,0) scale(0);
	}

	60%{
		transform: translate(-50px, -90px) scale(1);
	}

	100%{
		transform: translate(-60px, 0px) scale(0.1);
	}
}

@keyframes jumpRight{
	0%{
		transform: translate(0,0) scale(0);
	}

	45%{
		transform: translate(0,0) scale(0);
	}

	60%{
		transform: translate(30px, -80px) scale(1);
	}

	100%{
		transform: translate(50px, 0px) scale(0.1);
	}
}